{% extends "bootstrap/base.html" %}

{% block title %}File Uploader{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
    <div class="center">
        <div class="navbar-header" class="center">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-header" class="center">
            <a class="navbar-brand">-</a>
        </div>
        <div class="navbar-header" class="center">
            <a class="navbar-brand" href="/SaibaMais">Saiba Mais</a>
        </div>
        <div class="navbar-header" class="center">
            <a class="navbar-brand">-</a>
        </div>
        <div class="navbar-header" class="center">
            <a class="navbar-brand" href="/Example">Exemplo</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}