{% extends "base.html" %}
{% block title %}File Uploader{% endblock %}

{% block page_content %}

<body style="background-color:rgb(181, 196, 196);">
<div class="container">
    <h1 align="center">USO DA VISÃO COMPUTACIONAL PARA A DETECÇÃO DE ASSIMETRIAS CRANIANAS EM RECÉM-NASCIDOS</h1>
    <br>
    <style rel="stylesheet" type="text/css">
        blockquote {
            border-color: rgb(136, 143, 143)
        }
        #results {
            border: 2px solid black;
            cursor: pointer;
            border-radius: 12px;
        }
        #delete {
            border: 2px solid black;
            cursor: pointer;
            border-radius: 12px;
        }
        #idade {
            border-radius: 12px;
        }
        #Genero {
            border-radius: 12px;
        }
    </style>

    <blockquote>
        <p>Projeto do Trabalho de Conclusão de Curso apresentado à Faculdade de Computação e Informática da Universidade Presbiteriana Mackenzie.
            Esse site tem como objetivo facilitar a avaliação dos recém-nascidos com assimetrias cranianas.</p>
    </blockquote>

    <blockquote>
        <h4>Dicas:</h4>
        <ul>
            <li>Tire a foto de frente para a parte de cima da cabeça do seu bebê (mais fácil com o bebê deitado).</li>
            <li>Tire a foto com um fundo branco e, preferencialmente, com o bebê deitado em algo branco, como um lençol, toalha etc.</li>
            <li>Para um exemplo de imagem, clique na aba <u><a href="/Example">'Exemplo'</a></u>.</li>
            <li>Para resultados mais precisos, coloque uma touca ou gorro de cor escura (preto, azul ou até mesmo vermelho) na cabeça de seu bebê.</li>
            <li>Certifique-se que não há objetos na foto, como brinquedos, objetos de parede etc.</li>
            <li>As extenções aceitas são: png, jpg e jpeg.</li>
            </ul>
    </blockquote>
    <br>
    <div class="formImage" align="center">
        <form class="form-inline" method="POST" action="{{url_for('get_arguments')}}">
            <label for="idade">Selecione a idade do recém-nascido (Meses):</label>
            <select name="idade" id="idade">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            </select>

            <br>

            <label for="Genero">Selecione o sexo do recém-nascido</label>
            <select name="Genero" id="Genero">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
            </select>

            <br>
            <br>
            <script src="https://app.simplefileupload.com/buckets/121ce9674b754d190f07198f11762a59.js"></script>
            <input type="hidden" name="baby_url" id="baby_url" class="simple-file-upload" data-accepted=".jpeg,.jpg,.png">
            <script>
                const el = document.getElementById("baby_url");
                el.addEventListener("fileUploadSuccess", function (e) {
                    console.log(this.value)
                    console.log(e.detail.files)
                });
            </script>
            <br>

            <button id="results" type="submit" class="btn btn-default" onclick="sendAlert();" style="background-color: rgb(60, 179, 113)">
                <i style="color: white" class="glyphicon glyphicon-refresh"></i>
                <span style="color: white"><strong>Processar Resultados</strong></span>
            </button>

            <br>
            <br>
        </form>
        <form class="form-inline2" method="POST" action="{{url_for('remove_baby_at_any_time')}}">
            <button id="delete" type="submit" class="btn btn-delete" style="background-color: rgb(255, 0, 0)">
                <i style="color: white" class="glyphicon glyphicon-remove"></i>
                <span style="color: white"><strong>Remover Imagem</strong></span>
            </button>
        </form>
    </div>
    <br>
    <script>
        function sendAlert() {
            var idade = document.getElementById("idade").value;
            var genero = document.getElementById("Genero").value;
            alert("Idade da criança selecionada: '" + idade + "' mês(es).\n\n
                    Sexo da criança selecionado: '" + genero + "'.\n\n
                    Calculando as medidas da criança...");
        }
    </script>

    <br>


    <div class="panel panel-default" style="background-color: rgb(136, 143, 143)">
        <div class="panel-heading" style="background-color: rgb(136, 143, 143)">
            <h3 style="color: black " class="panel-title" align="center"><strong>Resultados</strong></h3>
        </div>
            <div class="panel-display">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages%}
                            <p style="color: black"><strong>{{message}}</strong></p>
                            <p style="color: black"><strong>{{message2}}</strong></p>
                            <p style="color: black"><strong>{{message3}}</strong></p>
                            <p style="color: black"><strong>{{message4}}</strong></p>
                            <p style="color: black"><strong>{{message5}}</strong></p>
                            <p style="color: black"><strong>{{message6}}</strong></p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{% raw %}
<script>
    function reappear() {document.getElementById("result-btn").style.display="block";}
</script>

<script>
    function alertMeasurementDone() {
        alert("Medição concluída!\n\n Clique no botão 'Exibir' para visualizar os resultados.");
    }
</script>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button onclick="reappear();alertMeasurementDone();" class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Enviar imagem</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar envio</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}

<![endif]-->
</body>
{% endblock %}